---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_DHp2EbahQyQruN&items[0][plan]=t3-development&items[0][quantity]=4&trial_end=1535422788
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_DN4xzkUja5Swqj",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1535422788,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1533608412,
          "current_period_end": 1535422788,
          "current_period_start": 1533608412,
          "customer": "cus_DHp2EbahQyQruN",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_DN4xEaStyxoSyB",
                "object": "subscription_item",
                "created": 1533608413,
                "metadata": {
                },
                "plan": {
                  "id": "t3-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 7500,
                  "billing_scheme": "per_unit",
                  "created": 1533605903,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Banquet",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 21,
                  "usage_type": "licensed"
                },
                "quantity": 4,
                "subscription": "sub_DN4xzkUja5Swqj"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_DN4xzkUja5Swqj"
          },
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "t3-development",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 7500,
            "billing_scheme": "per_unit",
            "created": 1533605903,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Banquet",
            "product": "prod_DFE5sMkOQFQngD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 21,
            "usage_type": "licensed"
          },
          "quantity": 4,
          "start": 1533608412,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1535422788,
          "trial_start": 1533608412
        }
  recorded_at: Tue, 07 Aug 2018 02:20:13 GMT
recorded_with: VCR 3.0.3
