<script>
  window.BEERMAPPER = window.BEERMAPPER || <%= raw list_json list %>;
</script>
<%= form_for [account, establishment, list], html: { class: 'form-horizontal establishment-form' } do |f| %>

  <div id="app-root"></div>

  <div>
    <%= f.submit submit_text, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', edit_account_establishment_path(account, establishment) %>
  </div>
<% end %>
