---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_abc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: cus_abc",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 29 Aug 2018 23:04:22 GMT
recorded_with: VCR 3.0.3
