---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_1CrFQLFuGCUWqFqF2gvAZ6oC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrFQLFuGCUWqFqF2gvAZ6oC",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CrFQLFuGCUWqFqFyNkDN3FE",
          "captured": true,
          "created": 1532396089,
          "currency": "usd",
          "customer": "cus_DHp2EbahQyQruN",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": "in_1CrFQLFuGCUWqFqFYjqDyJA5",
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrFQLFuGCUWqFqF2gvAZ6oC/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrFMXFuGCUWqFqFoujZe6uy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "55423",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DHp2EbahQyQruN",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "eyOJiDPWcsMpo0dd",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 31 Jul 2018 02:54:49 GMT
recorded_with: VCR 3.0.3
