<!DOCTYPE html>
<html>
  <head>
    <title><%= @establishment.name %></title>
  </head>
  <body>
    <div class="beermapper" id="beermapper-menu-<%= @establishment.id %>"></div>
    <script
      type="text/javascript"
      src="<%= @beermapper_host %>/menus/<%= @establishment.id %>.js">
    </script>
  </body>
</html>
