---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_DNRZrCKLanBhY0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DNRZrCKLanBhY0",
          "object": "customer",
          "account_balance": 0,
          "created": 1533692492,
          "currency": "usd",
          "default_source": "card_1Cwgg3FuGCUWqFqFlrpVsU5D",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "olsondan@hotmail.com",
          "invoice_prefix": "4DFF776",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Cwgg3FuGCUWqFqFlrpVsU5D",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "55423",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DNRZrCKLanBhY0",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2025,
                "fingerprint": "eyOJiDPWcsMpo0dd",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DNRZrCKLanBhY0/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_DNRZLr8d2nxjk7",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1535506893,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1533692493,
                "current_period_end": 1538185293,
                "current_period_start": 1535506893,
                "customer": "cus_DNRZrCKLanBhY0",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_DNRZY1ncDTqc5U",
                      "object": "subscription_item",
                      "created": 1533692494,
                      "metadata": {
                      },
                      "plan": {
                        "id": "t3-development",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 7500,
                        "billing_scheme": "per_unit",
                        "created": 1533692415,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "The Feast",
                        "product": "prod_DFE5sMkOQFQngD",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": 14,
                        "usage_type": "licensed"
                      },
                      "quantity": 5,
                      "subscription": "sub_DNRZLr8d2nxjk7"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_DNRZLr8d2nxjk7"
                },
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "t3-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 7500,
                  "billing_scheme": "per_unit",
                  "created": 1533692415,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "The Feast",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 14,
                  "usage_type": "licensed"
                },
                "quantity": 5,
                "start": 1533692493,
                "status": "active",
                "tax_percent": null,
                "trial_end": 1535506893,
                "trial_start": 1533692493
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DNRZrCKLanBhY0/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 02 Sep 2018 01:07:10 GMT
recorded_with: VCR 3.0.3
