---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/accounts?fields=name,access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mock-user-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cdbec71e5d3f1fce1e63c3a55b1eca0bfa46af7b"'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"access_token":"the-mock-page-access-token","name":"Betty''s Bakery"}],"paging":{"cursors":{"before":"MjQwOTM2Njg2NjQwODE2","after":"MjQwOTM2Njg2NjQwODE2"}}}'
  recorded_at: Sun, 10 Jun 2018 02:50:09 GMT
recorded_with: VCR 3.0.3
