---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/240936686640816?fields=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer user-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e26bfd50e5852d0c51e37d7b28f2c4fc0bbb1f5d"'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"page-access-token","id":"240936686640816"}'
  recorded_at: Fri, 15 Jun 2018 03:07:44 GMT
- request:
    method: post
    uri: https://graph.facebook.com/240936686640816/tabs
    body:
      encoding: US-ASCII
      string: app_id=1838673429769675&custom_name=Menu&tab=app_1838673429769675
    headers:
      Authorization:
      - Bearer page-access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Page-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"id":"some-tab-id"}'
  recorded_at: Fri, 15 Jun 2018 03:07:45 GMT
recorded_with: VCR 3.0.3
