<%= render 'user_invitations/form', submit_text: 'Invite' do |f| %>
  <div class="form-group">
    <div class='checkbox'>
      <label>
        <%= f.check_box :invite_another %> Invite another
      </label>
    </div>
  </div>
<% end %>
