<%= render 'user_invitations/form', submit_text: 'Invite' do |f| %>
  <div class="form-check">
    <label class="form-check-label">
      <%= f.check_box :invite_another, class: 'form-check-input' %> Invite another
    </label>
  </div>
<% end %>
