<preview>You have a new sandbox signup</preview>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">You have a new sandbox signup!</h3>
    <dl>
      <dt>Email:</dt>
      <dd><%= @email %></dd>
    </dl>
  </div>
</div>
