---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/accounts?fields=id,name,access_token,fan_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.6
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be
        used to query information about the current user."
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"An active access token must be used to query information
        about the current user.","type":"OAuthException","code":2500,"fbtrace_id":"FiuC6pTN7pd"}}'
  recorded_at: Sun, 10 Jun 2018 03:34:54 GMT
recorded_with: VCR 3.0.3
