---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/240936686640816?fields=id,name,access_token,fan_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer user-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f8e34cd8b987e2332ab45db43d4afde2bc5784cd"'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"page-access-token","id":"240936686640816","fan_count":1999,"name":"Bettys Bakery"}'
  recorded_at: Fri, 15 Jun 2018 03:07:44 GMT
- request:
    method: post
    uri: https://graph.facebook.com/240936686640816/tabs
    body:
      encoding: US-ASCII
      string: app_id=1838673429769675&custom_name=Menu&tab=app_1838673429769675
    headers:
      Authorization:
      - Bearer page-access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Page-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#2069016) This page does not
        have permission to install the custom tab"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#2069016) This page does not have permission
        to install the custom tab","type":"OAuthException","code":2069016,"fbtrace_id":"HPIv5zuAJdm"}}'
  recorded_at: Fri, 15 Jun 2018 03:07:44 GMT
recorded_with: VCR 3.0.3
