<preview>Your trial of Evergreen Menus is ending soon</preview>

<div class="card">
  <div class="card-header">
    <br>
    <h3 class="text-center">Your trial of Evergreen Menus is ending soon</h3>
  </div>
  <div class="card-body">
    <p>
      Thank you for trying Evergreen Menus! We hope you've enjoyed your experience.
      Your trial subscription will end on <%= @trial_end %>.
      In order to keep everything up and running, please update the billing information
      on your account details page.
    </p>

    <br>
    <p>
      We look forward to continuing to provide you with high quality menu management
      and publication services well into the future. As always, please don't hesitate
      to reach out with any questions or feedback you may have. Respond to this
      email or send us a new one at <a href="mailto:admin@evergreenmenus.com">admin@evergreenmenus.com</a>, and we'll get back
      to you right away. Thank you for your business.
    </p>

    <br>
    <p>Best,</p>
    <p>Dan Olson, Founder and CEO</p>
  </div>
</div>
