<preview>We're glad to have you on board! You've just taken an impactful step toward an easier</preview>
<div class="card">
  <div class="card-header">
    <br>
    <h1 class="text-center">Welcome to Evergreen Menus!</h1>
  </div>
  <div class="card-body">
    <p>
      We're glad to have you on board! You've just taken an impactful step toward
      an easier and more accurate menu management experience. We want to make sure
      you get the most out of your investment, so we've put together some
      tips to help get you up and running right away.
    </p>
    <br>

    <h3 class="text-center">Time to kick the tires</h3>
    <br>
    <p>
      When you login to your account, there are three basic steps you'll need
      to take to get started with Evergreen Menus:
      <br>
      <br>

      <div style="padding-left: 20px;">
        <ol style="padding: 0; margin: 0;">
          <li style="margin: 0;">Create an Establishment</li>
          <li style="margin: 0;">Create some Lists</li>
          <li style="margin: 0;">Make Menus from your Lists</li>
        </ol>
      </div>
      <br>

      Lists belong to Menus, and Menus belong to Establishments.
      Let's take each step in a little more detail:
    </p>
    <br>
    <br>

    <h3 class="text-center">Create an Establishment</h3>
    <br>
    <p>
      The first thing you'll want to do is create an establishment for
      each bar or restaurant you're adding to Evergreen. For example,
      you might create an establishment called Betty's Diner. Then, you
      could add the various menu items you serve at Betty's Diner. That
      brings us to step 2:
    </p>
    <br>
    <br>

    <h3 class="text-center">Create Lists</h3>
    <br>
    <p>
      Lists are groups of menu items. You might have an Appetizers list,
      a Salads list, a Pasta list, etc. Combining these lists, you create
      Menus.
    </p>
    <br>
    <br>

    <h3 class="text-center">Make Menus</h3>
    <br>
    <p>
      Now that you have some lists, you can combine them to create Menus.
      Menus come in a few different varieties: print menus, web menus, and
      digital display menus. With print menus, you can design and format
      your lists for printing and distribution in-house. Web menus allow you
      present lists directly on your existing website, offering instant updates
      whenever you make changes in Evergreen. Digital display menus are
      optimized for display on HDTVs within your establishment, and rotate
      through lists of your choosing on an interval. Perfect for showcasing
      specials or other featured content.
    </p>
    <br>
    <br>

    <h2 class="text-center">Google My Business</h2>
    <br>
    <p>
      If you already have a Google My Business listing for your establishment,
      and your Evergreen Menus plan includes Google My Business integration,
      much of the above can be completely automated! Evergreen can use the menu
      content you've already added to your Google My Business listing in order to
      create establishments and lists. Simply enable the Google My Business
      integration from your account dashboard, and you're off to the races.
    </p>
    <br>
    <br>

    <p>
      Thank you for choosing Evergreen Menus! We want this to be the beginning of
      a long and satisfying relationship, so if you have any questions or need
      help getting set up, please don't hesitate to reach out. Just respond to this
      email or send us a new one at admin@evergreenmenus.com, and we'll get back
      to you right away. Thank you for your business.
    </p>

    <br>

    <p>Best,</p>
    <p>Dan Olson, Founder and CEO</p>
  </div>
</div>
