<preview>We're glad to have you on board! You've just taken an impactful step toward an easier</preview>
<div class="card">
  <div class="card-header">
    <br>
    <h1 class="text-center">Welcome to Evergreen Menus!</h1>
  </div>
  <div class="card-body">
    <p>
      We're glad to have you on board! You've just taken an impactful step toward
      an easier and more accurate menu management experience. We want to make sure
      you get the most out of your investment, so we've put together some
      tips to help get you up and running right away.
    </p>
    <br>

    <h3 class="text-center">Add a List</h3>
    <br>
    <p>
      Once you've added your first establishment, add a list. Or three. Or ten!
      <br>
      <br>

      Lists are the foundational building blocks of Evergreen Menus. They are
      groups of menu items that you would want to appear together on one of your
      menus. You might have a list for Appetizers, one for Entrees, and one for Desserts.
      Once you have a few lists, you can really unlock the value of Evergreen Menus.
    </p>
    <br>

    <%= image_tag attachments['create-list.jpg'].url, class: 'img-fluid', width: '600', height: '250', alt: 'Create List' %>

    <br>
    <br>
    <p>
      Thank you for choosing Evergreen Menus! We want this to be the beginning of
      a long and satisfying relationship, so if you have any questions or need
      help getting set up, please don't hesitate to reach out. Just respond to this
      email or send us a new one at admin@evergreenmenus.com, and we'll get back
      to you right away. Thank you for your business.
    </p>

    <br>

    <p>Best,</p>
    <p>Dan Olson, Founder and CEO</p>
  </div>
</div>
