<div class="digital-display-menu-container">
  <% @digital_display_menu.lists.each do |list| %>
    <div class="digital-display-menu-list center-block" id="digital-display-menu-<%= list.id %>">
      <h4 class="list-title"><%= list.name %></h4>

      <div class="list-container">
        <ul>
        <% list.beers.each do |beer| %>
          <li><%= beer.name %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<script>
  var ids = <%= raw @digital_display_menu.lists.map(&:id) %>;
  function showNext() {
    var idToShow = ids[0];
    var lists = document.getElementsByClassName('digital-display-menu-list');
    var el = document.getElementById('digital-display-menu-' + idToShow);
    for (var i = 0; i < lists.length; i++) {
      lists[i].classList.remove('show');
      lists[i].classList.add('hidden');
    }
    if (el) {
      el.classList.remove('hidden');
      el.classList.add('show');
      ids.unshift(ids.pop());
    }
  }
  showNext();
  setInterval(showNext, 2000);
</script>
