<div class="establishment-info-window map-marker">
  <a href='#' {{action "transitionToEstablishment" establishment}}>{{establishment.name}}</a>
  <ul>
    {{#each establishment.beers as |beer|}}
    <li>{{beer.name}}</li>
    {{/each}}
  </ul>
</div>
