---
http_interactions:
- request:
    method: get
    uri: https://mybusiness.googleapis.com/v4/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mock-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "accounts": [
            {
              "name": "accounts/117056520034954462844",
              "accountName": "Dan Olson",
              "type": "PERSONAL",
              "state": {
                "status": "UNVERIFIED"
              }
            },
            {
              "name": "accounts/111337701469104826106",
              "accountName": "Farbar Group",
              "type": "LOCATION_GROUP",
              "role": "OWNER",
              "state": {
                "status": "UNVERIFIED"
              },
              "permissionLevel": "OWNER_LEVEL"
            }
          ]
        }
  recorded_at: Sat, 14 Apr 2018 19:46:08 GMT
recorded_with: VCR 3.0.3
