<p>Your privacy is important to us.</p>
<p>As a web-based service provider, we require some personal information in order to provide a service to you.</p>
<p>However, we don’t ask for this information unless we truly need it.</p>
<p>It is the policy of Evergreen Menus to respect your privacy regarding any information we may collect from you across our website, <a href="https://admin.evergreenmenus.com">admin.evergreenmenus.com</a>.</p>
<h4>Personal Information</h4>
<p>We may ask you for personal information, such as:</p>
<ul>
   <li>Your name</li>
   <li>Email address</li>
   <li>Social media profile/s</li>
   <li>Contact details</li>
   <li>Company details, and</li>
   <li>Payment details</li>
</ul>
<p>This information is used for the purposes of: </p>
<ul>
   <li>providing you with products and services</li>
   <li>providing you with information about our products and services</li>
   <li>managing and improving our products, services, quality control, administration, communication and internal processes</li>
   <li>personalising and customising your experience with us</li>
   <li>verifying your identity</li>
   <li>granting you access to your account with us</li>
   <li>investigating any enquiries or complaints submitted by or about you; and/or</li>
   <li>complying with regulatory or legal obligations</li>
</ul>
<p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
<p>We do not share your personal information with third-parties, except where required by law, to protect our own rights, or to provide a service to you.</p>
<p>We may, however, disclose anonymised and aggregated versions of this information for business, marketing or public relations purposes.</p>
<p>We will only retain personal information for as long as necessary to provide you with a service.</p>
<h4>Business Data</h4>
<p>Our respect for your privacy extends to the data you input into our website over the normal course of using our services. We will not share your data with third-parties, except where required by law, to protect our own rights, or to provide a service to you. We may, however, disclose anonymised and aggregated versions of this information for business, marketing or public relations purposes. We will only retain your data for as long as necessary to provide you with a service.</p>
<h4>Cookies</h4>
<p>We use "cookies" to collect information about you and your activity across our site. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit so we can understand how you use our site and serve you content based on preferences you have specified.</p>
<p>If you do not wish to accept cookies from us, you should instruct your browser to refuse cookies from our website, with the understanding that we may be unable to provide you with some of your desired service without them. This policy covers only the use of cookies between your computer and our website; it does not cover the use of cookies by any advertisers. For more details, please refer to our Cookie Policy.</p>
<h4>Third-Party Services</h4>
<p>We employ third-party services for our:</p>
<ul>
   <li>Website analytics</li>
   <li>Payment processing (checkout)</li>
   <li>Customer support</li>
</ul>
<p>These third parties have access to selected personal information only to perform specific tasks on our behalf or to improve the relevance of information presented to you. We review the privacy policies of all our third-party providers before enlisting their services to ensure their practices align with ours.</p>
<h4>Security</h4>
<p>We take security seriously, and do what we can within commercially acceptable means to protect your personal information from loss or theft, as well as unauthorized access, disclosure, copying, use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure, and cannot guarantee the absolute security of your data.</p>
<h4>Links to Other Sites</h4>
<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot assume responsibility for their treatment of your personal information. This privacy policy only covers our website and privacy practices.</p>
<h4>Changes to our Privacy Policy</h4>
<p>At our discretion, we may change our privacy policy from time to time. Any changes will be reflected here, so we encourage you to visit this page regularly. We will also notify our registered users of updates to our policy. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around privacy and personal information.</p>
<h4>Business Transfers</h4>
<p>If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would include user information among our assets transferred to or acquired by a third party. You acknowledge that such transfers may occur, and that any parties who acquire us may continue to use your personal information according to this policy.</p>
<h2>Cookie Policy</h2>
<p>We use cookies to help us improve your experience of our website, <a href="https://admin.evergreenmenus.com">admin.evergreenmenus.com</a>. This cookie policy is part of our privacy policy, and covers the use of cookies between your device and our site. We also provide basic information on third-party services we may use on our website, who may also use cookies as part of their service, though they are not covered by our policy.</p>
<p>If you do not wish to accept cookies from us, you should instruct your browser to refuse cookies from our website, with the understanding that we may be unable to provide you with some of your desired content and services.</p>
<p>At our discretion, we may change our privacy policy at any time. Any changes will be reflected here, so we encourage you to visit this page regularly. We will also notify our registered users of updates to our policy. Your continued use of this site after any changes to this policy will be regarded as acceptance of our cookie practices as described.</p>
<h4>What is a cookie?</h4>
<p>A cookie is a small piece of data that a website stores on your device when you visit, typically containing information about the website itself, a unique identification number that allows the website to recognise your web browser when you return, additional data that serves the purpose of the cookie, and the lifespan of the cookie itself.</p>
<p>Cookies are used to enable certain features (eg. logging in), to track site usage (eg. analytics), to store your user settings (eg. timezone, notification preferences), and to personalise your content (eg. advertising, language).</p>
<p>Cookies set by the website you are visiting are normally referred to as “first-party cookies”, and typically only track your activity on that particular site. Cookies set by other sites and companies (ie. third parties) are called “third-party cookies”, and can be used to track you on other websites that use the same third-party service.</p>
<h4>Types of cookies and how we use them</h4>
<h4>Essential cookies</h4>
<p>Essential cookies are crucial to your experience of a website, enabling core features like user logins, account management, shopping carts and payment processing. We use essential cookies to enable certain functions on our website.</p>
<h4>Performance cookies</h4>
<p>Performance cookies are used in the tracking of how you use a website during your visit, without collecting personal information about you. Typically, this information is anonymous and aggregated with information tracked across all site users, to help companies understand visitor usage patterns, identify and diagnose problems or errors their users may encounter, and make better strategic decisions in improving their audience’s overall website experience. These cookies may be set by the website you’re visiting (first-party) or by third-party services. We may use performance cookies on our site.</p>
<h4>Functionality cookies</h4>
<p>Functionality cookies are used in collecting information about your device and any settings you may configure on the website you’re visiting (like language and timezone settings). With this information, websites can provide you with customised, enhanced or optimised content and services. These cookies may be set by the website you’re visiting (first-party) or by third-party service. We may use functionality cookies for selected features on our site.</p>
<h4>Third-party cookies on our site</h4>
<p>We may employ third-party companies and individuals on our websites — for example, analytics providers and content partners. We grant these third parties access to selected information to perform specific tasks on our behalf. They may also set third-party cookies in order to deliver the services they are providing. Third-party cookies can be used to track you on other websites that use the same third-party service. As we have no control over third-party cookies, they are not covered by Evergreen Menus' cookie policy.</p>
<h4>Our third-party privacy promise</h4>
<p>We review the privacy policies of all our third-party providers before enlisting their services to ensure their practices align with ours. We will never knowingly include third-party services that compromise or violate the privacy of our users.</p>
<h4>How you can control or opt out of cookies</h4>
<p>If you do not wish to accept cookies from us, you can instruct your browser to refuse cookies from our website. Most browsers are configured to accept cookies by default, but you can update these settings to either refuse cookies altogether, or to notify you when a website is trying to set or update a cookie. If you browse websites from multiple devices, you may need to update your settings on each individual device.</p>
<p>Although some cookies can be blocked with little impact on your experience of a website, blocking all cookies may mean you are unable to access certain features and content across the sites you visit.</p>
