---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/asdf
    body:
      encoding: UTF-8
      string: source=tok_1D3aWaFuGCUWqFqFcW4PeJh4
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: asdf",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 28 Aug 2018 23:48:03 GMT
recorded_with: VCR 3.0.3
