---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_DHp2EbahQyQruN
    body:
      encoding: UTF-8
      string: source=tok_1D4HcDFuGCUWqFqFJMjMeF0I
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DHp2EbahQyQruN",
          "object": "customer",
          "account_balance": 0,
          "created": 1532395952,
          "currency": "usd",
          "default_source": "card_1D4HcDFuGCUWqFqFX8KCB5BT",
          "delinquent": false,
          "description": "Liam Robinson",
          "discount": null,
          "email": "liam.robinson.16@example.com",
          "invoice_prefix": "D23C4EA",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1D4HcDFuGCUWqFqFX8KCB5BT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "94301",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DHp2EbahQyQruN",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "eyOJiDPWcsMpo0dd",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DHp2EbahQyQruN/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_DN4xzkUja5Swqj",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1535422788,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1533608412,
                "current_period_end": 1538101188,
                "current_period_start": 1535422788,
                "customer": "cus_DHp2EbahQyQruN",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_DN4xEaStyxoSyB",
                      "object": "subscription_item",
                      "created": 1533608413,
                      "metadata": {
                      },
                      "plan": {
                        "id": "banquet-development",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 7500,
                        "billing_scheme": "per_unit",
                        "created": 1533605903,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "Banquet",
                        "product": "prod_DFE5sMkOQFQngD",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": 21,
                        "usage_type": "licensed"
                      },
                      "quantity": 4,
                      "subscription": "sub_DN4xzkUja5Swqj"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_DN4xzkUja5Swqj"
                },
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "banquet-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 7500,
                  "billing_scheme": "per_unit",
                  "created": 1533605903,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Banquet",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 21,
                  "usage_type": "licensed"
                },
                "quantity": 4,
                "start": 1533608412,
                "status": "active",
                "tax_percent": null,
                "trial_end": 1535422788,
                "trial_start": 1533608412
              },
              {
                "id": "sub_DHqSOqhCVnknO1",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1533608135,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1532401262,
                "current_period_end": 1536286535,
                "current_period_start": 1533[...]
