---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=dude%40lebowski.me
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_E2IAY4IKDVsrrz",
          "object": "customer",
          "account_balance": 0,
          "created": 1543113745,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "dude@lebowski.me",
          "invoice_prefix": "E9A2E7A",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_E2IAY4IKDVsrrz/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_E2IAY4IKDVsrrz/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 25 Nov 2018 02:42:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_E2IAY4IKDVsrrz&items[0][plan]=t1-test-2018-11-14&items[0][quantity]=3&trial_end=1545705745
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_E2IAcjMHSfTJ6g",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1545705745,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1543113746,
          "current_period_end": 1545705745,
          "current_period_start": 1543113746,
          "customer": "cus_E2IAY4IKDVsrrz",
          "days_until_due": null,
          "default_source": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_E2IALbvwaOdLBx",
                "object": "subscription_item",
                "created": 1543113746,
                "metadata": {
                },
                "plan": {
                  "id": "t1-test-2018-11-14",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2400,
                  "billing_scheme": "per_unit",
                  "created": 1542598003,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "The Snack",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 14,
                  "usage_type": "licensed"
                },
                "quantity": 3,
                "subscription": "sub_E2IAcjMHSfTJ6g"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_E2IAcjMHSfTJ6g"
          },
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "t1-test-2018-11-14",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 2400,
            "billing_scheme": "per_unit",
            "created": 1542598003,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "The Snack",
            "product": "prod_DFE5sMkOQFQngD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 14,
            "usage_type": "licensed"
          },
          "quantity": 3,
          "start": 1543113746,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1545705745,
          "trial_start": 1543113746
        }
  recorded_at: Sun, 25 Nov 2018 02:42:26 GMT
recorded_with: VCR 3.0.3
