---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=walter%40lebowski.me&source=tok_1CwL4DFuGCUWqFqFtVBg8u1P
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DN5FMsgPFiSFKU",
          "object": "customer",
          "account_balance": 0,
          "created": 1533609481,
          "currency": null,
          "default_source": "card_1CwL4DFuGCUWqFqFUJzvjGvD",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "walter@lebowski.me",
          "invoice_prefix": "16DDF7D",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CwL4DFuGCUWqFqFUJzvjGvD",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "55444",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DN5FMsgPFiSFKU",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "eyOJiDPWcsMpo0dd",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DN5FMsgPFiSFKU/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DN5FMsgPFiSFKU/subscriptions"
          }
        }
  recorded_at: Tue, 07 Aug 2018 02:38:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_DN5FMsgPFiSFKU&items[0][plan]=t2-development&items[0][quantity]=2&trial_end=1535423882
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_DN5FUIJwpr7Nbj",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1535423882,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1533609482,
          "current_period_end": 1535423882,
          "current_period_start": 1533609482,
          "customer": "cus_DN5FMsgPFiSFKU",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_DN5FkHCqasAU6a",
                "object": "subscription_item",
                "created": 1533609482,
                "metadata": {
                },
                "plan": {
                  "id": "t2-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 5000,
                  "billing_scheme": "per_unit",
                  "created": 1533606354,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Specialty",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 21,
                  "usage_type": "licensed"
                },
                "quantity": 2,
                "subscription": "sub_DN5FUIJwpr7Nbj"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_DN5FUIJwpr7Nbj"
          },
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "t2-development",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 5000,
            "billing_scheme": "per_unit",
            "created": 1533606354,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Specialty",
            "product": "prod_DFE5sMkOQFQngD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 21,
            "usage_type": "licensed"
          },
          "quantity": 2,
          "start": 1533609482,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1535423882,
          "trial_start": 1533609482
        }
  recorded_at: Tue, 07 Aug 2018 02:38:02 GMT
recorded_with: VCR 3.0.3
