---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=bob%40example.com&source=tok_1CrbLWFuGCUWqFqFr5BHz2Uy
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIBlErTW5414LT",
          "object": "customer",
          "account_balance": 0,
          "created": 1532480483,
          "currency": null,
          "default_source": "card_1CrbLWFuGCUWqFqFI2035AI6",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "bob@example.com",
          "invoice_prefix": "1942373",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrbLWFuGCUWqFqFI2035AI6",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "55443",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIBlErTW5414LT",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2021,
                "fingerprint": "eyOJiDPWcsMpo0dd",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIBlErTW5414LT/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIBlErTW5414LT/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 01:01:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_DIBlErTW5414LT&items[0][plan]=one-and-done-development&trial_end=1534294884
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_DIBlijJ1izORBZ",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1534294884,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1532480484,
          "current_period_end": 1534294884,
          "current_period_start": 1532480484,
          "customer": "cus_DIBlErTW5414LT",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_DIBlmVnq5hKDdJ",
                "object": "subscription_item",
                "created": 1532480485,
                "metadata": {},
                "plan": {
                  "id": "one-and-done-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3900,
                  "billing_scheme": "per_unit",
                  "created": 1531797206,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "One and Done",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 21,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_DIBlijJ1izORBZ"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_DIBlijJ1izORBZ"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "one-and-done-development",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 3900,
            "billing_scheme": "per_unit",
            "created": 1531797206,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "One and Done",
            "product": "prod_DFE5sMkOQFQngD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 21,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "start": 1532480484,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1534294884,
          "trial_start": 1532480484
        }
  recorded_at: Wed, 25 Jul 2018 01:01:25 GMT
recorded_with: VCR 3.0.3
