<h1>Hello, <%= @invitation.first_name %>!</h1>
<p>
  <%= @inviter %> has invited you to join Evergreen Menus so that you can help
  keep the menus fresh at <%= @invitation.account.name %>.<br>
</p>
<p>
  To register, please follow this link: <%= @registration_url %>
</p>
<p>Thanks, and have a great day!</p>
