---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/240936686640816?fields=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-bad-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"Ai4T2O2qB+5"}}'
  recorded_at: Thu, 14 Jun 2018 00:47:45 GMT
recorded_with: VCR 3.0.3
