<% panel_class ||= "panel-info" %>
<div class="panel <%= panel_class %>" data-test=<%= data_test ||= nil %>>
  <div class="panel-heading">
    <h3 class="panel-title" data-test="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>
