---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_DHqGf2aCq0nWUt&items[0][plan]=restauranteur-development&trial_end=1534212935
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_DHqjLSQwqcaI6Q",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1534212935,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1532402279,
          "current_period_end": 1534212935,
          "current_period_start": 1532402279,
          "customer": "cus_DHqGf2aCq0nWUt",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_DHqjDgaLEi4s62",
                "object": "subscription_item",
                "created": 1532402279,
                "metadata": {},
                "plan": {
                  "id": "restauranteur-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 7900,
                  "billing_scheme": "per_unit",
                  "created": 1531797208,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Restauranteur",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 21,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_DHqjLSQwqcaI6Q"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_DHqjLSQwqcaI6Q"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "restauranteur-development",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 7900,
            "billing_scheme": "per_unit",
            "created": 1531797208,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "Restauranteur",
            "product": "prod_DFE5sMkOQFQngD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 21,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "start": 1532402279,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1534212935,
          "trial_start": 1532402279
        }
  recorded_at: Tue, 24 Jul 2018 02:15:35 GMT
recorded_with: VCR 3.0.3
