---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/240936686640816/tabs
    body:
      encoding: US-ASCII
      string: app_id=1838673429769675&custom_name=Menu&tab=app_1838673429769675
    headers:
      Authorization:
      - Bearer an-invalid-page-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"EHkW8NuctQz"}}'
  recorded_at: Fri, 15 Jun 2018 01:54:00 GMT
recorded_with: VCR 3.0.3
