---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_DVe73qX1zqGHby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DVe73qX1zqGHby",
          "object": "customer",
          "account_balance": 0,
          "created": 1535584332,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Just Jeff",
          "discount": null,
          "email": "jeff@lebowski.me",
          "invoice_prefix": "B5A2BAF",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DVe73qX1zqGHby/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DVe73qX1zqGHby/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Wed, 29 Aug 2018 23:14:20 GMT
recorded_with: VCR 3.0.3
