---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=aiden.jones.96%40example.com&source=tok_1CrGZRFuGCUWqFqFSEnvi7uR
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DHqGf2aCq0nWUt",
          "object": "customer",
          "account_balance": 0,
          "created": 1532400533,
          "currency": null,
          "default_source": "card_1CrGZRFuGCUWqFqFtNKYZcxo",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "aiden.jones.96@example.com",
          "invoice_prefix": "78C16A4",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrGZRFuGCUWqFqFtNKYZcxo",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "94301",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DHqGf2aCq0nWUt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "eyOJiDPWcsMpo0dd",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DHqGf2aCq0nWUt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DHqGf2aCq0nWUt/subscriptions"
          }
        }
  recorded_at: Tue, 24 Jul 2018 02:48:53 GMT
recorded_with: VCR 3.0.3
