---
http_interactions:
- request:
    method: patch
    uri: https://mybusiness.googleapis.com/v4/accounts/111337701469104826106/locations/herp-derp?updateMask=priceLists
    body:
      encoding: UTF-8
      string: |-
        {
          "priceLists": [
            {
              "priceListId": "Zerts",
              "labels": [
                {
                  "displayName": "Desserts"
                }
              ]
            }
          ]
        }
    headers:
      Authorization:
      - Bearer mock-access-token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Fri, 20 Apr 2018 01:43:00 GMT
recorded_with: VCR 3.0.3
