---
http_interactions:
- request:
    method: patch
    uri: https://mybusiness.googleapis.com/v4/accounts/111337701469104826106/locations/17679890243424107126?updateMask=priceLists
    body:
      encoding: UTF-8
      string: |-
        {
                    "priceLists": [
                      {
                        "priceListId": "Zerts",
                        "labels": [
                          {
                            "displayName": "Desserts"
                          }
                        ]
                      }
                    ]
                  }
    headers:
      Authorization:
      - Bearer mock-access-token
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 401,
            "message": "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.",
            "status": "UNAUTHENTICATED"
          }
        }
  recorded_at: Fri, 20 Apr 2018 01:48:29 GMT
recorded_with: VCR 3.0.3
