---
http_interactions:
- request:
    method: patch
    uri: https://mybusiness.googleapis.com/v4/accounts/111337701469104826106/locations/17679890243424107126?updateMask=priceLists
    body:
      encoding: UTF-8
      string: |-
        {
                    "priceLists": [
                      {
                        "priceListId": "Zerts",
                        "labels": [
                          {
                            "displayName": "Desserts"
                          }
                        ],
                        "sections": [
                          {
                            "sectionId": "cakes",
                            "labels": [
                              {
                                "displayName": "Cakes"
                              }
                            ],
                            "items": [
                              {
                                "itemId": "german_chocolate",
                                "labels": [
                                  {
                                    "displayName": "German Chocolate Cake",
                                    "description": "A chocolate classic"
                                  }
                                ],
                                "price": {
                                  "currencyCode": "USD",
                                  "units": "7",
                                  "nanos": "000000000"
                                }
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
    headers:
      Authorization:
      - Bearer mock-access-token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name": "accounts/111337701469104826106/locations/17679890243424107126",
          "locationName": "Farbar",
          "primaryCategory": {
            "displayName": "Restaurant",
            "categoryId": "gcid:restaurant"
          },
          "websiteUrl": "http://farbarmpls.com",
          "locationKey": {
            "plusPageId": "108602426856323843238",
            "requestId": "a03f8b54-d3fe-4b71-8af2-4a0fc4ef2ff5"
          },
          "latlng": {
            "latitude": 45.0401352,
            "longitude": -93.3152842
          },
          "openInfo": {
            "status": "OPEN",
            "canReopen": true
          },
          "locationState": {
            "canUpdate": true,
            "canDelete": true,
            "isDisconnected": true
          },
          "metadata": {},
          "languageCode": "en",
          "priceLists": [
            {
              "priceListId": "Zerts",
              "labels": [
                {
                  "displayName": "Desserts"
                }
              ],
              "sections": [
                {
                  "sectionId": "cakes",
                  "labels": [
                    {
                      "displayName": "Cakes"
                    }
                  ],
                  "items": [
                    {
                      "itemId": "german_chocolate",
                      "labels": [
                        {
                          "displayName": "German Chocolate Cake",
                          "description": "A chocolate classic"
                        }
                      ],
                      "price": {
                        "currencyCode": "USD",
                        "units": "7"
                      }
                    }
                  ]
                }
              ]
            }
          ],
          "address": {
            "regionCode": "US",
            "languageCode": "en",
            "postalCode": "55429",
            "administrativeArea": "MN",
            "locality": "Minneapolis",
            "addressLines": [
              "123 Fake St"
            ]
          }
        }
  recorded_at: Fri, 20 Apr 2018 01:36:47 GMT
recorded_with: VCR 3.0.3
