<div class="evergreen-menus">
  <% if @web_menu.restricted_availability? %>
    <span class="menu-restricted-availability" data-test="availability-restriction">
      Available <%= AvailabilityRange.call(@web_menu) %>
    </span>
  <% end %>
  <% @web_menu.lists.each do |list| %>
    <%= render partial: "list", locals: {
      beers: list.beers,
      show_description: list.show_description_on_menu?,
      show_price: list.show_price_on_menu?,
      title: list.name,
      list_description: list.description,
      items_with_images: Array(list.list_item_metadata['items_with_images']).map(&:to_i)
    } %>
  <% end %>
  <%= render 'shared/evergreen_attribution' %>
</div>
