---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=donny%40lebowski.me
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DuQjssQgXsfbO9",
          "object": "customer",
          "account_balance": 0,
          "created": 1541300490,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "donny@lebowski.me",
          "invoice_prefix": "D8C95AF",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DuQjssQgXsfbO9/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DuQjssQgXsfbO9/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 04 Nov 2018 03:01:30 GMT
recorded_with: VCR 3.0.3
