<div class='page'>
  <div class='row'>
    <div class='page-heading col-sm-12'>
      <div class='pull-left'>
        <h2>New Establishment</h2>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
