---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/240936686640816/tabs
    body:
      encoding: US-ASCII
      string: app_id=1838673429769675&custom_name=Menu&tab=app_1838673429769675
    headers:
      Authorization:
      - Bearer a-valid-page-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"id":"some-tab-id"}'
  recorded_at: Fri, 15 Jun 2018 01:48:12 GMT
recorded_with: VCR 3.0.3
