---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_DHp2EbahQyQruN
    body:
      encoding: UTF-8
      string: source=
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid source object: must be a dictionary or a non-empty string. See API docs at https://stripe.com/docs'",
            "param": "source",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 29 Aug 2018 00:55:59 GMT
recorded_with: VCR 3.0.3
