<div class='page'>
  <div class='row'>
    <div class='page-heading'>
      <div class='sm-col-12'>
        <h2>List Update - {{name}}</h2>
      </div>
    </div>
    <div>
      {{#link-to 'establishment' establishment}}View {{name}}{{/link-to}}
      <div class='sm-col-12'>
        <h3>Update on {{createdAt}} yielded the following results:</h3>
      </div>
      <ul>
      {{#each beer in scrapedList}}
        <li>{{beer}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
