<div class='establishment-suggestion'>
  <div class='clearfix'>
    <div class='page-heading'>
      <h2>Suggest an Establishment!</h2>
    </div>
  </div>
  <div class='clearfix establishment-form'>
    <p>
      We're always looking for more establishments to add to Beer Mapper. If you know a place with a great beer list and you don't see it on Beer Mapper, please suggest it. We'll do our very best to get it added to the site ASAP.
    </p>
    <form class='form-horizontal' role='form'>
      <div class='form-group'>
        <label for='new-establishment-suggestion' class='col-sm-2 control-label'>Name</label>
        <div class='col-sm-10'>
          {{input type='text' value=name class='form-control' id='new-establishment-suggestion' placeholder='Establishment Name'}}
        </div>
      </div>
      <div class='form-group'>
        <label for='beer-list-url' class='col-sm-2 control-label'>Beer List URL</label>
        <div class='col-sm-10'>
          {{input type='url' value=beerListUrl class='form-control' id='beer-list-url' placeholder='Beer List URL'}}
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-offset-2 col-sm-10'>
          <button type='submit' class='btn btn-success' {{action formSubmit}}>Suggest</button>
          <button type='button' class='btn btn-danger' {{action cancel}}>Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
