<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action close target='view'}}>&times;</button>
      <h4 class="modal-title">What is Beer Mapper?</h4>
    </div>
    <div class="modal-body">
      Beer Mapper is a tool for finding a Minnesota establishment that serves your favorite beer. Just enter the name of a beer you want to find and Beer Mapper will show you the establishments that serve it. Beer Mapper gets its information from the websites of the establishments it knows about, and keeps up to date daily with changes to those websites. So look no further... <em>find your beer right now!</em>
    </div>
  </div>
</div>

