@mixin draggable-list-item {
  .menu-list-show-price {
    margin-bottom: 0px;
    input {
      margin-left: 10px;
    }
  }

  .move-list-button {
    margin-right: 20px;
  }

  .list-group-heading {
    font-weight: 700;
  }

  .menu-form-action {
    margin-right: 4px;
  }
}
