.digital-display-menu-form {
  @include draggable-list-item;

  .digital-display-menu-preview-wrapper {
    background: transparent url(/images/loading.gif) no-repeat;
    background-position: center;
    text-align: center;
  }
}
