.digital-display-menu-form {
  @include show-price-input;

  .move-list-button {
    margin-right: 20px;
  }

  .list-group-heading {
    font-weight: 700;
  }

  .menu-form-action {
    margin-right: 4px;
  }

  .digital-display-menu-preview-wrapper {
    background: transparent url(/images/loading.gif) no-repeat;
    background-position: center;
    text-align: center;
  }
}
