.edit-establishment {
  .menu-type-icon {
    margin-right: 0.25rem;
  }

  .custom-file-label {
    top: 2.4em;
    left: 15px;
    right: 15px;
    font-weight: inherit;
    overflow: hidden;

    &:after {
      font-weight: 700;
    }
  }

  @include bootstrap-custom-file-input;
  .custom-file {
    position: inherit;
  }
}
