.facebook-match-pages {
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .facebook-icon {
    vertical-align: middle;
    color: #4267b2;
  }

  .check {
    color: $color-evergreen;
  }

  .link-status {
    margin-left: 0.5rem;
  }

  .page-name {
    vertical-align: middle;
    margin-left: 1rem;
  }
}
