.facebook-match-pages {
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  td {
    vertical-align: middle;
  }

  .facebook-icon {
    vertical-align: middle;
    color: #4267b2;
  }

  .status-linked {
    color: $color-evergreen;
  }

  .status-unlinked {
    color: #b65760;
  }

  .page-name {
    vertical-align: middle;
    margin-left: 1rem;
  }

  .icon {
    color: #868e96;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  .btn--add-menu {
    display: inline-block;
  }
}
