.list-form {
  .price-input {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .flyout {
    padding-top: 0.5rem;
  }

  .form-check-label {
    padding-left: 0.5rem;
  }

  .beer-separator {
    margin: 8px 8px;
  }

  .custom-file {
    margin-bottom: 0.5rem;

    .invalid-feeback {
      display: none;
    }

    &.invalid {
      .invalid-feedback {
        display: block;
        color: #dc3545;
      }

      .custom-file-label {
        border-color: #dc3545;
      }
    }
  }

  .list-item-image {
    max-width: 100px;
    max-height: 100px;
  }

  .custom-file-label {
    font-weight: inherit;
    overflow: hidden;
  }

  padding-bottom: 20px;

  @media (max-width: 768px) {
    .panel {
      border: none;
    }
    .panel-heading {
      display: none;
    }

    .beer-separator {
      margin: 12px 12px;
    }
  }
}
