.menu-form {
  .move-list-button {
    margin-right: 20px;
  }

  .list-group-heading {
    font-weight: 700;
  }

  .menu-list-show-price {
    line-height: 30px;
    vertical-align: middle;
    float: right;
    input {
      margin-left: 10px;
    }
  }

  .menu-form-action {
    margin-right: 4px;
  }
}
