.valign-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.valign-wrapper-w80 {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.valign-wrapper-w60 {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

.valign-wrapper-w50 {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.valign-wrapper-w40 {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.valign-wrapper-w20 {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.valign-wrapper-w19 {
  display: inline-block;
  vertical-align: middle;
  width: 19%;
}

.button-wrapper {
  padding-top: 1rem;
}

.breadcrumb {
  margin-top: 1rem;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.help-icon {
  cursor: pointer;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.expandable {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;

  &.open {
    line-height: inherit;
    padding-top: 1em;
    padding-bottom: 1em;
    color: inherit;
  }
}
