.web-menu-form {
  @include draggable-list-item;
  @include time-picker;
  @include panel;

  .unstyled-warning-text {
    font-weight: 200;
    padding-right: 10px;
    padding-left: 10px;
  }

  .copy-button-wrapper {
    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .embed-code-title {
    font-weight: 700;
  }

  .embed-code-choices {
    margin-top: 1rem;
  }
}
