.evergreen-menus {
  margin-top: 25px;

  h3 {
    margin-bottom: 1rem;
  }

  ul {
    -webkit-columns: 290px 3;
    -moz-columns: 290px 3;
    columns: 290px 3;
    padding-left: 0px;
  }

  li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .evergreen-menu-item {
    margin-bottom: 1rem;
  }

  .evergreen-menu-item-image img {
    max-width: 200px;
    max-height: 200px;
  }

  .evergreen-menu-item-price {
    float: right;
  }
}

.evergreen-menu-title, .evergreen-menu-item-price {
  color: #954900;
}

.attribution {
  a {
    color: black;
    font-weight: bold;
  }

  text-align: right;
  margin-top: 4rem;
}
