<div class="evergreen-menus">
  <% @online_menu.lists.each do |list| %>
    <%= render partial: "web_menus/list",
    locals: {
      beers: list.beers,
      show_description: list.show_description_on_menu?,
      show_price: list.show_price_on_menu?,
      items_with_images: Array(list.list_item_metadata['items_with_images']).map(&:to_i),
      html_classes: list.list_item_metadata['html_classes'],
      title: list.list_item_metadata.fetch('display_name') { list.name },
      list_description: list.description
    } %>
  <% end %>
</div>
