<p class="plan-price">Year-end sale! 20% off regular price</p>
<p class="plan-price">
  <span class="regular-price"><%= number_to_currency plan.price * 1.25, precision: 0 %></span>
  <%= number_to_currency plan.price, precision: 0 %> / establishment / <%= plan.interval %>
</p>
