---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/240936686640816?fields=name,access_token,fan_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mock-user-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ed5b4029fc4d79417bd437c940df77c3c9f59994"'
      X-App-Usage:
      - '{"call_count":3,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Farbar Minneapolis","access_token":"mock-page-token","fan_count":0,"id":"240936686640816"}'
  recorded_at: Tue, 19 Jun 2018 02:10:47 GMT
recorded_with: VCR 3.0.3
