---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/240936686640816?fields=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mock-user-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"945edbbf38a2828902f2a27d781440de3dec01a5"'
      X-App-Usage:
      - '{"call_count":1,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.0
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"mock-page-token","id":"240936686640816"}'
  recorded_at: Thu, 14 Jun 2018 00:38:57 GMT
recorded_with: VCR 3.0.3
