<preview>You have a new contact form submission</preview>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">You have a new contact form submission!</h3>
    <dl>
      <dt>Name:</dt>
      <dd><%= @name %></dd>

      <dt>Email:</dt>
      <dd><%= @email %></dd>

      <dt>Message:</dt>
      <dd><%= @message %></dd>
    </dl>
  </div>
</div>
