---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=donny%40lebowski.me&source=tok_1D5lLwFuGCUWqFqFtIVheyyu
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DWp16EsqAGGkQd",
          "object": "customer",
          "account_balance": 0,
          "created": 1535855500,
          "currency": null,
          "default_source": "card_1D5lLwFuGCUWqFqFVk5CBb5u",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "donny@lebowski.me",
          "invoice_prefix": "6B30BA5",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1D5lLwFuGCUWqFqFVk5CBb5u",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "94301",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DWp16EsqAGGkQd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2022,
                "fingerprint": "eyOJiDPWcsMpo0dd",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DWp16EsqAGGkQd/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DWp16EsqAGGkQd/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 02 Sep 2018 02:31:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_DWp16EsqAGGkQd&items[0][plan]=t2-development&items[0][quantity]=1&trial_end=1537669901
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_DWp1s9DBqjp9Co",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1537669901,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1535855502,
          "current_period_end": 1537669901,
          "current_period_start": 1535855502,
          "customer": "cus_DWp16EsqAGGkQd",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_DWp18aBYSKA8fp",
                "object": "subscription_item",
                "created": 1535855502,
                "metadata": {
                },
                "plan": {
                  "id": "t2-development",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 5000,
                  "billing_scheme": "per_unit",
                  "created": 1533692415,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "The Meal",
                  "product": "prod_DFE5sMkOQFQngD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 14,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_DWp1s9DBqjp9Co"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_DWp1s9DBqjp9Co"
          },
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "t2-development",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 5000,
            "billing_scheme": "per_unit",
            "created": 1533692415,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "The Meal",
            "product": "prod_DFE5sMkOQFQngD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 14,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "start": 1535855502,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1537669901,
          "trial_start": 1535855502
        }
  recorded_at: Sun, 02 Sep 2018 02:31:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_DWp16EsqAGGkQd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_DWp1s9DBqjp9Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id[...]
