<% if alert = flash[:alert] %>
  <div class="alert alert-danger" data-test="flash-alert"><%= alert %></div>
<% end %>
<% if notice = flash[:notice] %>
  <div class="alert alert-success" data-test="flash-success"><%= notice %></div>
<% end %>
