<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "BeerMapper", root_path, class: "navbar-brand" %>
    </div>
    <div class="">
      <% if user_signed_in? %>
        <% if admin_user? %>
          <%= render 'layouts/admin_header' %>
        <% else %>
          <%= render partial: 'layouts/customer_header', locals: { account: @account } %>
        <% end %>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Login', new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
