<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name='robots' content='noindex,nofollow'>
  <title>Beer Mapper</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <%= stylesheet_link_tag fingerprinted_asset(:digitalDisplay), skip_pipeline: true %>
  <%= yield :head %>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
