<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name='robots' content='noindex,nofollow'>
  <title>Evergreen Menus</title>
  <%= render 'layouts/bootstrap_css' %>
  <%= stylesheet_link_tag fingerprinted_asset(:digitalDisplay), skip_pipeline: true %>
  <%= yield :head %>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
