<%= render 'shared/panel', title: @account.name do %>
  <div class="list-group">
    <% @account.establishments.accessible_by(current_ability).each do |establishment| %>
      <%= link_to establishment.name, edit_account_establishment_path(@account, establishment), class: "list-group-item", data: { test: 'establishment' } %>
    <% end %>
  </div>
  <span>
    <%= link_to new_account_establishment_path(@account), class: 'btn btn-success', data: { test: 'add-establishment' } do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </span>
<% end %>
