<% breadcrumb :account, @account %>
<%= render 'shared/panel', title: 'Establishments' do %>
  <div class="list-group">
    <% if account_establishments(@account).any? %>
      <% account_establishments(@account).each do |establishment| %>
        <%= link_to establishment.name, edit_account_establishment_path(@account, establishment), class: "list-group-item", data: { test: 'establishment' } %>
      <% end %>
    <% else %>
      <div class="well">Add an establishment to get started</div>
    <% end %>
  </div>
  <%= link_to "Add Establishment", new_account_establishment_path(@account), class: 'btn btn-success', data: { test: 'add-establishment' } %>
  <% if can? :edit, @account %>
    <%= link_to 'Edit Account', edit_account_path(@account), class: 'btn btn-primary', data: { test: 'edit-account' } %>
  <% end %>
<% end %>
